<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <style>
       *{
           margin: 0;
           padding: 0;
       }
       div{
           font-size: 1rem;
       }
       p{
           font-size: 4rem;
       }
   </style>
   <script type="text/javascript">
        const designWidth = 1920 // 设计稿宽度
        const deviceWidth = document.documentElement.clientWidth // 当前设备宽度
        console.log(deviceWidth)
        document.documentElement.style.fontSize = (deviceWidth / designWidth) * 10 + 'px' // 根字体大小
        //即 1rem = (deviceWidth / designWidth) * 10 + 'px'
   </script>
</head>
<body>
    <div>
        <div>
            <textarea  id="txt" cols="30" rows="10">222</textarea>
        </div>
        <div>222</div>
        <div>
            <!-- <button onclick="btn()">点击</button> -->
            <p>文本框内容为：</p>
            <p class="p1"></p>
        </div>

    </div>
</body>
<script>
    function btn(){
        let txt = document.getElementById('txt');
        document.getElementsByClassName('p1')[0].innerHTML = txt.value;
        console.log(txt.value);
        
    }
</script>
</html>